/* En el archivo show-posts.component.css */

/* Estilo general para cada comentario */
.comment-container {
  border: 1px solid #dcdcdc;
  border-radius: 8px;
  padding: 10px;
  margin-top: 10px;
  background-color: #f9f9f9;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
}

/* Estilo para el nombre de usuario en el comentario */
.comment-username {
  font-weight: 600;
  color: #e74c3c; /* Rojo */
  margin-right: 10px;
}

/* Estilo para el cuerpo del comentario */
.comment-body {
  font-size: 0.9rem;
  margin-top: 5px;
}

/* Si quieres añadir algún espacio entre el nombre de usuario y el cuerpo del comentario */
.comment-content {
  display: flex;
  flex-direction: column;
}

/* Añadir un hover effect para resaltar un comentario cuando se pasa el mouse sobre él */
.comment-container:hover {
  background-color: #f0f0f0;
}
