<div class="outer-container">
  <div *ngFor="let post of posts" class="post-container">

    <!-- Información del post -->
    <div class="post-header">
      <h2>{{ post.title }}</h2>
      <p>{{ post.body }}</p>
      <div class="reactions">
        Reacciones ❤️👍🏻: {{ post.reactions }}
      </div>
    </div>

    <!-- Sección de comentarios asociados a ese post -->
    <div class="post-comments">
      <h3>Comentarios</h3>
      <div *ngFor="let comment of post.comments" class="comment-container">
        <div class="comment-content">
                    <span>
                        <span class="comment-username">{{ comment.user.username }}</span>
                        <span class="comment-body">{{ comment.body }}</span>
                    </span>
        </div>
      </div>
    </div>
  </div>
</div>
