<div>
  <input [(ngModel)]="username" placeholder="Introduce el nombre de usuario">
  <button (click)="searchUserByUsername()">Buscar</button>
</div>

<div *ngIf="user">
  <!-- Muestra la información del usuario -->
  <h2>Datos del usuario</h2>
  <p><strong>Nombre:</strong> {{ user.firstName }} {{ user.lastName }}</p>
  <p><strong>Email:</strong> {{ user.email }}</p>
  <p><strong>Username:</strong> {{ user.username }}</p>
  <!-- Agrega más campos según lo que desees mostrar -->
</div>

<div *ngIf="error">
  <p style="color: red;">{{ error }}</p>
</div>
